@use '../../styles/common/util' as u;

.card {
  display: grid;
  width: 100%;
  background: white;
  gap: u.em(10) u.em(20);
  padding: u.em(20) u.em(20) u.em(15) 0;
  position: relative;
  filter: drop-shadow(u.em(0) u.em(4) u.em(12) rgba(0, 0, 0, 0.15));
  min-height: u.em(285);

  grid-template:
  'image info'
  'image descr';
  grid-template-columns: 40% 60%;
  grid-template-rows: max-content 1fr;

  @include u.breakpoint(medium) {
    min-height: unset;
    gap: u.em(10) 3.25%;
    padding: u.em(6) u.em(10) u.em(20) u.em(10);
    grid-template:
    'image info'
    'descr descr';
    grid-template-rows: max-content 1fr;
    grid-template-columns: 17.40% 79.35%;
  }

  &__info {
    grid-area: info;
  }

  &__card-descr {
    grid-area: descr;
  }

  &__card-image {
    grid-area: image;
  }
}

