@use '../../styles/common/util' as u;

.card {
  display: grid;
  width: 100%;
  background: white;
  column-gap: 20px;
  padding: 20px 20px 15px 0;
  position: relative;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));

  grid-template:
  'image info'
  'image descr';

  @include u.breakpoint(medium) {
    gap: 10px 13px;
    padding: 6px 10px 20px 10px;
    grid-template:
    'image info'
    'descr descr';
    grid-template-columns: 60px 1fr;
  }

  &__image {
    margin: -20px 0 -15px 0;
    position: relative;
    display: flex;
    grid-area: image;

    @include u.breakpoint(medium) {
      max-height: 91px;
      margin: 0;
    }

    &--img {
      object-fit: contain;
      @include u.breakpoint(medium) {
        height: 100%;
      }
    }
  }

  &__info {
    grid-area: info;
  }

  &__descr {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    grid-area: descr;

    @include u.breakpoint(medium) {
      gap: 10px;
    }

    &--rate {
      margin-right: -9px;

      @include u.breakpoint(medium) {
        display: flex;
        justify-content: flex-end;
        margin: 0;
      }
    }

    &--text {
      font-size: 12px;
      line-height: 22px;
      margin: 0;
    }
  }

  &__score {
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    right: 12px;
    top: 14px;

    &:before {
      border-radius: 50%;
      border: 2px solid #E9D100;
      content: '';
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 30px;
      width: 30px;
      position: absolute;
    }
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 9px;

  &__heading {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
  }

  &__release-date {
    font-size: 12px;
    color: #827E7E;
  }

  &__list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
  }
}

.ant-rate {
  font-size: 16px;
}

