@use "functions" as f;

$breakpoints-down: (
        "small": f.em(400),
        "xsmall": f.em(576),
        "medium": f.em(768),
        "large": f.em(992),
        "xlarge": f.em(1200),
        "xxlarge": f.em(1600),
);

$breakpoints-container-down: (
        "small": f.em(387),
        "xsmall": f.em(387),
        "medium": f.em(600),
        "large": f.em(700),
        "xlarge": f.em(1010),
        "xxlarge": f.em(1010),
);

@mixin breakpoint($size) {
  @media (max-width: map-get($breakpoints-down, $size)) {
    @content;
  }
}

.container {
  width: 100%;
  margin: auto;
}

@mixin make-container($size) {
  @if $size==default {
    .container {
      padding-inline: f.em(36);
      max-width: f.em(1010);
    }

  } @else {
    @media (max-width: map-get($breakpoints-down, $size)) {
      .container {
        max-width: map-get($breakpoints-container-down, $size);
        @if $size=='xsmall' or $size=='small' {
          padding-inline: f.em(12);
        }
      }
    }
  }

}

